@import "./variables";
@import "./detalles";


header{
    p{
    background-color: $color-negro;
    color: $color-blanco;
    border: none;
    padding:20px;
    margin-top:20px;
    font-family: $titulo;
    font-size: 25px;
    text-align: center;
    }
}

main{
    p{
        font-family: $texto;
    font-style: normal;
    font-size: small;
    color: $color-negro;
    text-align: justify;
    font-size: 20px;
    padding: 10px 50px 20px;
    background-color: none;
    }
}

footer{
    h4{
        font-family: $titulo;
        font-style: normal;
        font-size: small;
        color: $color-rojo;
        text-align: center;
        font-size: 19px;
    }
  
  }
  
  footer {
    p{
        font-family: $texto;
        font-style: normal;
        font-size: small;
        color: $color-negro;
        text-align: center;
        font-size: 19px;
    }
  }
