@import "./variables";
@import "./detalles";

$colores: (
  rojo: #ff0033,
  negro: #000000,
  blanco: white,
);


@mixin flex-row-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

header{
    h1{
    background-color: map-get($colores, negro);
    color: map-get($colores, blanco);
    border: none;
    padding:20px;
    margin-top:20px;
    font-family: $titulo;
    font-size: 25px;
   @include flex-row-left;
    }
}

main{
    p{
        font-family: $texto;
    font-style: normal;
    font-size: small;
    color: map-get($colores, negro);
    text-align: justify;
    font-size: 20px;
    padding: 10px 50px 20px;
    background-color: none;
    }
}

footer{
    h4{
        font-family: $titulo;
        font-style: normal;
        font-size: small;
        color: map-get($colores, rojo);
        text-align: center;
        font-size: 19px;
    }
  
  }
  
  footer {
    p{
        @extend h4;
        font-size: 20px;
    }
  }
